################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Mouri/Mouri.App/Mouri.App.sln
